<!DOCTYPE html>
<html>
  <head>
    <title>Petday</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %> 
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous" />

    <script type="text/javascript">
      window.oneStar = "<%= image_url('stars/onestar.png') %>"
      window.oneHalfStar = "<%= image_url('stars/onehalf_star.png')%>"
      window.twoStar = "<%= image_url('stars/twostar.png')%>"
      window.twoHalfStar = "<%= image_url('stars/twohalf_star.png')%>"
      window.threeStar = "<%= image_url('stars/threestar.png')%>"
      window.threeHalfStar = "<%= image_url('stars/threehalf_star.png')%>"
      window.fourStar = "<%= image_url('stars/fourstar.png')%>"
      window.fourHalfStar = "<%= image_url('stars/fourhalf_star.png')%>"
      window.fiveStar = "<%= image_url('stars/fivestar.png')%>"
      window.americanFood = "<%= image_url('americanFood.jpeg')%>"
      window.koreanFood = "<%= image_url('koreanFood.jpeg')%>"
      window.japaneseFood = "<%= image_url('japaneseFood.jpeg')%>"
      window.mexicanFood = "<%= image_url('mexicanFood.jpeg')%>"
      window.sanFranFood = "<%= image_url('sanFranFood.jpeg')%>"
      window.sanMateoFood = "<%= image_url('sanMateoFood.jpeg')%>"
      window.harry = "<%= image_url('harry.jpeg')%>"
      window.ron = "<%= image_url('ron.jpeg')%>"
      window.hermione = "<%= image_url('hermione.jpeg')%>"
      window.hagrid = "<%= image_url('hagrid.jpeg')%>"
      window.dumbledore = "<%= image_url('dumbledore.jpeg')%>"
      window.mcgonagall = "<%= image_url('mcgonagall.jpeg')%>"
      window.drago = "<%= image_url('drago.jpeg')%>"
      window.dobby = "<%= image_url('dobby.jpeg')%>"
      window.george = "<%= image_url('george.jpeg')%>"
      window.snape = "<%= image_url('snape.jpeg')%>"
    </script>

    </head>

  <body>
    <%= yield %>
  </body>
</html>
